In [1]:
import numpy as np
import pandas as pd

In [2]:
array=np.array([[1,'a'],[2,'b']])
df=pd.DataFrame(array,columns=['A','B'])
print(df)

   A  B
0  1  a
1  2  b

In [13]:
print(df.iloc[0,0])

1

In [16]:
print(df.loc[0,'A'])

1

In [18]:

df = pd.DataFrame({
    'A': [1, 2, np.nan],
    'B': ['a', 'b', 'c'],
})

# Fill missing values
df_filled = df.fillna(0)
print(df_filled)

# Replace values
df_replaced = df.replace(np.nan, 0)
print(df_replaced)

     A  B
0  1.0  a
1  2.0  b
2  0.0  c
     A  B
0  1.0  a
1  2.0  b
2  0.0  c

In [23]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
})
print(df)
# Calculate the mean of a column
print(df['A'].mean())

# Calculate the sum of a column
print(df['A'].sum())

# Calculate the maximum value of a column
print(df['A'].max())

# Calculate the minimum value of a column
print(df['A'].min())

   A  B
0  1  4
1  2  5
2  3  6
2.0
6
3
1

In [21]:
print(df['A'].describe())

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
Name: A, dtype: float64

In [28]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
    'C': np.random.randn(8),
    'D': np.random.randn(8)
})
print(df)

# Group by column 'A' and calculate the sum of 'C' and 'D' for each group
grouped = df.groupby('A').sum()
print(grouped)

     A      B         C         D
0  foo    one  0.662402 -1.006617
1  bar    one -2.256255  0.851900
2  foo    two -0.399033  0.897673
3  bar  three -0.035078  0.837001
4  foo    two -0.466241 -2.192339
5  bar    two -1.097277 -1.691342
6  foo    one -0.109094 -1.235753
7  foo  three -1.080150  0.195047
                     B         C         D
A
bar        onethreetwo -3.388611 -0.002440
foo  onetwotwoonethree -1.392115 -3.341988

In [43]:
import pandas as pd

df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'key': ['K0', 'K1', 'K0', 'K1']
})

df2 = pd.DataFrame({
    'C': ['C0', 'C1'],
    'D': ['D0', 'D1']},
    index=['K0', 'K1']
)

# Merge df1 and df2 on the 'key' column
merged = pd.merge(df1, df2, left_on='key', right_index=True)
print(merged)

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

In [45]:
import matplotlib.pyplot as plt
import seaborn as sns