<a href="https://colab.research.google.com/github/GGGoradia/Machine-learning-lab/blob/main/lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
#knn without libraries
grad=pd.read_csv('Graduate.csv')
grad.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Admit
0,1,337,118,4,4.5,4.5,9.65,1,1
1,2,324,107,4,4.0,4.5,8.87,1,1
2,3,316,104,3,3.0,3.5,8.00,1,1
3,4,322,110,3,3.5,2.5,8.67,1,1
4,5,314,103,2,2.0,3.0,8.21,0,1

Question 2

In [3]:
#knn with scikit learn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X=grad.drop(columns='Admit')
y=grad['Admit']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train,y_train)
y_pred1=knn.predict(X_test)
knn1=KNeighborsClassifier(n_neighbors=5,metric='euclidian')
knn.fit(X_train,y_train)
y_pred2=knn.predict(X_test)
knn2=KNeighborsClassifier(n_neighbors=7,metric='manhattan')
knn.fit(X_train,y_train)
y_pred3=knn.predict(X_test)
acc1=accuracy_score(y_test,y_pred1)
acc2=accuracy_score(y_test,y_pred2)
acc3=accuracy_score(y_test,y_pred3)
print('accuracy for n=3',acc1)
print('accuracy for n=5',acc2)
print('accuracy for n=7',acc3)

accuracy for n=3 0.94
accuracy for n=5 0.94
accuracy for n=7 0.94

Question 3

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
gradsc=pd.DataFrame(scaler.fit_transform(grad),columns=grad.columns)
gradsc.head()
Xs=gradsc.drop(columns=['Admit','Serial No.'])
ys=gradsc['Admit']
Xs_train,Xs_test,ys_train,ys_test=train_test_split(Xs,ys,test_size=0.2,random_state=42)
knnq3=KNeighborsClassifier(n_neighbors=3)
knnq3.fit(Xs_train,ys_train)
y_predq3=knnq3.predict(Xs_test)
accq3=accuracy_score(ys_test,y_predq3)
print('accuracy for normalized dataset:',accq3)

accuracy for normalized dataset: 0.93

Question 1

In [ ]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)
def euc(point1,point2):
    return np.sqrt(np.sum((point1-point2)**2))
def knn(X_trian,y_train,X_test,k):
    predictions=[]
    for testpt in X_test:
        distances=[euc(trainpt,testpt) for trainpt in X_train]
        
        #to get the k indices
        kind=np.argsort(distances)[:k]
        klabels=[y_train[i] for i in kind]
        prediction=np.round(np.mean(klabels))
        predictions.append(prediction)
    return np.array(predictions)

k=5
ypred=knn(X_train,y_train.values,X_test,k)
accuracy=np.mean(ypred)
print(ypred)
print(accuracy)

[1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0.
 1. 1. 1. 1.]
0.94
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1
 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]